/*****************/
/*! Base Styles  */
/*****************/
img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

/*******************/
/*! Content Blocks */
/*******************/
.site-header > .container {
  padding: 0 1.25em;
}

.video-author {
  margin-top: 0;
}

/************/
/*! Layout  */
/************/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 2em auto;
  max-width: 71.25em;
}

/* Video Grid */
#videos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.video {
  margin-bottom: 3em;
  padding: 0 1.25em;
}

@media (min-width: 30em) {
  .video {
    width: 50%;
  }
}

@media (min-width: 48em) {
  .video {
    width: 33.3333%;
  }
}

/********************************************/
/*! Magnific Popup, Simple fade transition  */
/********************************************/
.mfp-fade.mfp-bg,
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.95;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-bg.mfp-removing,
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-title {
  position: absolute;
  margin-top: 1em;
  color: #ffffff;
  font-weight: bold;
}
